.countainer-trip {
  padding: 30px 10px 30px 10px;
  color: white;
}

.card-trip {
  border-radius: 5px;
  height: 200px;
  position: relative;
  width: 100%;
}

.card-trip h3 {
  position: absolute;
  top: 5px;
  left: 5px;
}

.card-trip h4 {
  position: absolute;
  bottom: 30px;
  left: 5px;
}


.card-trip p {
  position: absolute;
  bottom: 2px;
  left: 5px;
}

