.container {
  display:flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card {

}

.container h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.container p {
    font-size: 15px;
    font-weight: lighter;
}
