<div id="footer">
  <div class="footer-container">
    <ul class='list-inline'>
      <li>
          <a class="icon" href="http://twitter.com/lewagonparis">
            <i class="fa fa-twitter"></i>
          </a>
      </li>
      <li>
          <a class="icon" href="http://facebook.com/lewagonformation">
            <i class="fa fa-facebook"></i>
          </a>
      </li>
      <li>
          <a class="icon" href="http://github.com/lewagon">
            <i class="fa fa-github"></i>
          </a>
      </li>
      <li>
          <a class="icon" href="https://www.youtube.UChCDYcBCrb8tuPAO6e0P-Hw">
            <i class="fa fa-youtube"></i>
          </a>
      </li>
    </ul>
  </div>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
